{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="pb-3 h2">Latest</div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
            <div class="card shadow-sm">
            <img class="img-fluid" alt="Responsive image" src="{{product.image.url}}">
            <div class="card-body">
                <p class="card-text">
                <a class="text-dark text-decoration-none" href="{% url 'product_detail' product.category.slug product.slug %}">
                    {{ product.title }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">#{{product.get_display_price}}</small>
                </a>
                </div>
            </div>
            </div>
        </div>

        {% endfor %}

    </div>
    </div>
{% endblock %}